* {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 400px;
    height: 550px;
    background-color: blue;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 120px;
    margin: 30px;
    background-color: lightblue;
    font-size: 40px;
    font-weight: bold;
    text-align: end;
    flex-wrap: wrap;
}

.keys {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.number-keys {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    gap: 10px;
}

.operator-keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.btn {
    display: flex;
    background-color: lightgray;
    font-size: 40px;
    width: 62px;
    height: 62px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px;
    margin: 3px;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: grey;
}

#clear {
    width: auto;
    height: auto;
    font-size: 25px;
}
